[submodule "ruby-on-rails-1"]
	path = ruby-on-rails-1
	url = https://github.com/Xxings/ruby-on-rails-1.git
[submodule "ruby-on-rail-2"]
	path = ruby-on-rail-2
	url = https://github.com/Xxings/ruby-on-rails-2.git
[submodule "ruby-on-rails-3"]
	path = ruby-on-rails-3
	url = https://github.com/Xxings/ruby-on-rails-3
